*{
    margin: 0;
}

body {
    font-family: Brandon Grotesque, sans-serif;
}

/* FONTS */
h3{

}
h4{
    font-weight: 100;
    font-size: 15px;
    margin: 1.5em 0;
}


/* NAVIGATION BAR */
.logo {
    float: left;
    width: 30vw;
}
nav {
    margin: 20px;
}
.navbar {
    margin: 30px;
    overflow: hidden;
    background-color: none;
}
/* Links inside the navbar */
.navbar a {
    float: right;
    font-size: 16px;
    color: black;
    padding: 0 24px;
    text-align: center;
    text-decoration: none;
}
/* The dropdown container */
.dropdown {
    float: right;
    overflow: hidden;
}
/* Dropdown button */
.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: black;
    padding: 0 24px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}
/* Dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}
/* Links inside the dropdown */
.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
/* Add background color to dropdown links on hover */
.dropdown-content a:hover {
    background-color: #e2ebde;
}
/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* FOOTER */
footer{
    background-color: #e2ebde;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 60px 0 60px 0;
    align-items: center;
    font-weight: 100;
    color: gray;
}

footer>div{
    margin: 0 10px 0 10px;
    text-align: center;
    text-transform: uppercase;
}
.footer-logo{
    width: 20vw;
    margin-bottom: 1em;
}

.btn {
    border: none;
    padding: 15px 32px;
    font-size: 10px;
    width: 300px;
    color: gray;
    margin: .2em 0;
    font-weight: 600;
}
.rights{
    font-size: 12px;
    margin: 1.5em 0 0;
}

footer h5{
    font-weight: 500;
    margin: 1.5em 0 .5em;
    font-size: 17px;
}
.fa {
    text-decoration: none;
    color: white;
}
.tiktok {
    width: 15px;
    margin: 0 80px;
}


